* {
    font-family: "Segoe UI";
    box-sizing: border-box;
}
#mbpiconmain{
    height: 25vh;
}
#interactable:hover{
background-color:lightblue;
cursor: pointer;
}

.App{
    text-align: center;
}

.createUser{
    text-align: center;
}

.signupForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.signupForm input{
    width: 300px;
    height: 60px;
    margin: 10px;
}
.map-container {
    width: 100%;
    height: 100vh;
}

.places-container {
    position: absolute;
    top:10px;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 50vw;
}
.combobox-input {
    width: 100%;
    padding: 0.5rem;
}

